In [1]:
import numpy as np 

import pandas as pd

import matplotlib.pyplot as plt

import sklearn

import os

In [ ]:
import warnings
warnings.filterwarnings("ignore")

### Data load and simple preprocessing

In [13]:
os.chdir('./data')

FileNotFoundError: [WinError 2] Не удается найти указанный файл: './data'

In [14]:
X = pd.read_csv('train_values.csv')

X_check = pd.read_csv('test_values.csv')

y = pd.read_csv('train_labels.csv')

In [15]:
mask = []
for cols in list(X.columns):
    if X[cols].dtype == 'object':
        mask.append(cols)
mask.append('building_id')
        
print('')        
print('='*200)
print('Сategorical features: \n')
print(mask)
print('='*200)
print('')

data_categorical = X.copy()[mask]
data_numerical = X.copy().drop(mask,axis = 1)
data_numerical.head()

========================================================================================================================================================================================================
Сategorical features:

['land_surface_condition', 'foundation_type', 'roof_type', 'ground_floor_type', 'other_floor_type', 'position', 'plan_configuration', 'legal_ownership_status', 'building_id']
========================================================================================================================================================================================================

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,22,418,10694,2,10,6,5,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
data_categorical

,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,legal_ownership_status,building_id
0,t,r,n,f,q,t,d,v,802906
1,o,r,n,x,q,s,d,v,28830
2,t,r,n,f,x,t,d,v,94947
3,t,r,n,f,x,s,d,v,590882
4,t,r,n,f,x,s,d,v,201944
...,...,...,...,...,...,...,...,...,...
260596,n,r,n,f,j,s,q,v,688636
260597,t,r,n,f,q,s,d,v,669485
260598,t,r,q,f,q,s,d,v,602512
260599,t,r,x,v,s,j,d,v,151409
260600,n,r,n,f,q,j,d,v,747594

#### Categorical preprocessing

In [7]:
'''Encoding categoricals'''

from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder()

encoded_cat = enc.fit_transform(data_categorical.drop('building_id')).toarray()

array([[0., 0., 1., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 0., 1., ..., 0., 1., 0.],
       ...,
       [0., 0., 1., ..., 0., 1., 0.],
       [0., 0., 1., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 1., 0.]])

In [11]:
''' Attempting to presere the information about column names through the process of encoding'''

new_column_names = []
cols = data_categorical.columns
cats = enc.categories_

for k in range(len(cats)):
    for levels in range(len(cats[k])):
        new_column_names.append(cols[k] + '_' +  cats[k][levels])

['land_surface_condition_n',
 'land_surface_condition_o',
 'land_surface_condition_t',
 'foundation_type_h',
 'foundation_type_i']

In [20]:
categorical_dataframe = pd.DataFrame(encoded_cat, columns = new_column_names)
categorical_dataframe['building_id'] = data_categorical['building_id']
categorical_dataframe.head()

,land_surface_condition_n,land_surface_condition_o,land_surface_condition_t,foundation_type_h,foundation_type_i,foundation_type_r,foundation_type_u,foundation_type_w,roof_type_n,roof_type_q,...,plan_configuration_n,plan_configuration_o,plan_configuration_q,plan_configuration_s,plan_configuration_u,legal_ownership_status_a,legal_ownership_status_r,legal_ownership_status_v,legal_ownership_status_w,building_id
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,802906
1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,28830
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,94947
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,590882
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,201944

#### Merging datasets

In [23]:
preprocessed_data_train = pd.concat([data_numerical,categorical_dataframe],axis = 1)

In [24]:
preprocessed_data_train.to_csv('preprocessed_train_values.csv')

### Doing just the same with the test

In [25]:
X = X_check

In [26]:
mask = []
for cols in list(X.columns):
    if X[cols].dtype == 'object':
        mask.append(cols)
mask.append('building_id')
        
print('')        
print('='*200)
print('Сategorical features: \n')
print(mask)
print('='*200)
print('')

data_categorical = X.copy()[mask]
data_numerical = X.copy().drop(mask,axis = 1)
data_numerical.head()

========================================================================================================================================================================================================
Сategorical features:

['land_surface_condition', 'foundation_type', 'roof_type', 'ground_floor_type', 'other_floor_type', 'position', 'plan_configuration', 'legal_ownership_status', 'building_id']
========================================================================================================================================================================================================

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,17,596,11307,3,20,7,6,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,6,141,11987,2,25,13,5,0,1,0,...,1,0,0,0,0,0,0,0,0,0
2,22,19,10044,2,5,4,5,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,26,39,633,1,0,19,3,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,17,289,7970,3,15,8,7,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
data_categorical.columns

Index(['land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'legal_ownership_status', 'building_id'],
      dtype='object')

#### Categorical preprocessing

In [32]:
'''Encoding categoricals'''

from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder()

encoded_cat = enc.fit_transform(data_categorical.drop('building_id',axis = 1)).toarray()

In [33]:
''' Attempting to presere the information about column names through the process of encoding'''

new_column_names = []
cols = data_categorical.columns
cats = enc.categories_

for k in range(len(cats)):
    for levels in range(len(cats[k])):
        new_column_names.append(cols[k] + '_' +  cats[k][levels])

In [34]:
categorical_dataframe = pd.DataFrame(encoded_cat, columns = new_column_names)
categorical_dataframe['building_id'] = data_categorical['building_id']
categorical_dataframe.head()

,land_surface_condition_n,land_surface_condition_o,land_surface_condition_t,foundation_type_h,foundation_type_i,foundation_type_r,foundation_type_u,foundation_type_w,roof_type_n,roof_type_q,...,plan_configuration_n,plan_configuration_o,plan_configuration_q,plan_configuration_s,plan_configuration_u,legal_ownership_status_a,legal_ownership_status_r,legal_ownership_status_v,legal_ownership_status_w,building_id
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,300051
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,99355
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,890251
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,745817
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,421793

#### Merging datasets

In [35]:
preprocessed_data_test = pd.concat([data_numerical,categorical_dataframe],axis = 1)

In [52]:
preprocessed_data_test.to_csv('preprocessed_test_values.csv')